name: Check style and run tests

on:
  push
  pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pycodestyle pytest scikit-learn scipy smart_open[http]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python setup.py develop
    - name: Lint with flake8
      run: |
        pycodestyle  . --max-line-length=127
    - name: Test with pytest
      run: |
        pytest
